body {
    background: mediumvioletred;
    font-family:cursive;
}
p {
        background: pink;
        border:5px solid red;
        color:yellow;
        padding:10px;
        margin: 10px;
    }

p:hover {
    background: yellow;
    color:mediumvioletred;
}
.banner {
    text-align: center;
    font-size:xx-large;
}
a {
    color: greenyellow;
    text-decoration: none;
    font-style:oblique;
    font-weight:bold;
}

a:hover {
    color: blue;
} 

ul {
    color:pink;
}