body {
    background-image: url("img/background.avif");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
    text-align: center;
    color: white;
}

img {
    background: #ffb923;
    border: 10px solid #56c32b;
}

video{
    border:10px solid #ff3333;
    margin: none;
    background:#ea3f37;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
     background: hotpink;
    border: 10px solid #ff8b33;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    text-align: center; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
}

.media {
    background: hotpink;
    border: 7px solid #ff8b33;
    width: fit-content;
    text-align: center; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
}

.meet {
    background: #ff3333;
    border: 7px solid hotpink;  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    text-align: center; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "doublebass", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.meet:hover {
background: #ffb923;
    border: 7px solid #ff3333;
}

ul {
    background: hotpink;
    border: 10px solid #ff8b33;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "helvetica-lt-pro", sans-serif;
font-weight: 200;
font-style: normal;
font-size: 14px
}
.who {
    background: hotpink;
    border: 10px solid #ff8b33;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    text-align: center; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
     font-family: "doublebass", sans-serif;
font-weight: 400;
font-style: normal;
font-size:xx-large;
}
p{
font-family: "helvetica-lt-pro", sans-serif;
font-weight: 200;
font-style: normal;
font-size: 14px;
}
.description {
    background: hotpink;
    border: 7px solid #ff8b33;
    width: fit-content;
    text-align: center; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
}
.return {
    border: 7px solid hotpink;
    background:#ff8b33;  
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    text-align: center; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "doublebass", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.return:hover {
background: #ffb923;
    border: 7px solid #ff3333;
}

a {
    text-decoration:none;
    color: white;
}
hr {
        border: dashed;
}