body {
    background-image: url("img/background.avif");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
    background-attachment:fixed;
      text-align: center;
      color: white;

}

img {
    background: yellow;
    border: 10px solid orangered;
}
img:hover {
    filter:blur(5px)
}

video{
    border:10px solid gold;
    margin: none;
}
.welcome {
    background: hotpink;
    border: 10px solid orange;
}
