* {
    box-sizing:border-box;
}

img {
    max-width:100%;
}

body {
  margin:0;
  background-color: beige;
}

.navbar {
  overflow: hidden;
  background-color: rgb(30, 30, 70);
  /* position:sticky; */
  top:0px;
  text-align: center;
  font-family: "baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.work{
  font-family: "baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 20px;
}

.navbar .name {
  float:left;
  font-size: 45px;
  color: beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "carol-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: dodgerblue;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 30%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-column {
  float: left;
  width: 50vw;
  height: auto;
  display: flex;
  padding:20px;
  margin-right: 30px;
  margin-left: 100px;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  background-color: rgb(30, 30, 70);
  border-radius: 20px;  
  color: beige;
}

.img-column {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(30, 30, 70, 0.699);
  
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 0;
  width: 90vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

/* The Close Button */
.close {
  color: rgba(245, 245, 220, 0.473);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: beige;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(245, 245, 220, 0.473);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color:beige;
}

.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 8px 12px 0 rgba(30, 30, 70, 0.699), 0 10px 24px 0 rgba(30, 30, 70, 0.699);
}

.feather{
    display: flex;
    justify-content: center;
    height: 90vh;
}

.books{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    height: 60vh;
    width:33vw;
    flex-direction: column;
}

.red{
    display: flex;
    justify-content: center;
    height: 70vh;
}

.thrift{
    display: flex;
    justify-content: center;
    height: 70vh;
}

.effects{
    display: flex;
    justify-content: center;
    height: 69vh;
}

.helvetica{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 78vw;
}

.sab{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 70vw;
}

.hello{
  font-size: 45px;
  font-family: "carol gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ryan{
  font-family: "baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.web{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding:10px;
    height: auto;
    width:30.5vw;
    flex-direction: column;
}

.site{
  font-family: "baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: rgb(30, 30, 70);
  padding: 10px;
}

.me{
    display: flex;
    justify-content: center;
    margin-top: 31px;
    height: 80vh;
    border-radius: 2000px;
}

.marquee-container {
  width: 100%;
  height:20vh;
  overflow: hidden;
  white-space: nowrap;
  align-content: center;
  position: static;
  background-image: linear-gradient(rgb(30, 30, 70), beige);
}

.marquee-content {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
  font-family: "carol gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  color: rgb(30, 30, 70);
}

.marquee-content span {
  display: inline-block;
  padding: 0 10px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
  height: 80vh;
  border-radius: 200px;
}

/* Style the back side */
.flip-box-back {
  background-color: rgb(30, 30, 70);
  color: beige;
  transform: rotateY(180deg);
  height: 80vh;
  flex-direction: column;
}

.contact{
  font-family: "carol gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}

.insta{
  margin-top:-20px;
  font-family: "baskerville", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
