
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	/* font-family: "Poppins", sans-serif; */
}

.flipbook {
    width: 54vw;
    height: 88.4vh;
}

.flipbook .sheet {
    width:27vw;
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page img{
	width: 100%;
	object-fit: cover;
	margin: none;
}

.flipbook .page small{
	font-size: 14px;
}

.zine {
    width: 59.3vw;
    height: 88.5vh;
}

.zine .sheet {
    width:29.65vw;
}

.zine .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.zine .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.zine .page small{
	font-size: 14px;
}

.bur {
    width: 54.35vw;
    height: 88.5vh;
}

.bur .sheet {
    width:27.5vw;
}

.bur .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.bur .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bur .page small{
	font-size: 14px;
}

@media screen and (max-width: 1000px) {

  main{
    flex-wrap: wrap;
  }

  .zine, .bur{
	height:77.3vh;
	margin-top:35px;
  }

  .bur{
	height:77.4vh;
	margin-top:35px;
  }

  .flipbook {
	height:76.9vh;
	margin-top:34px;
  }

}

@media screen and (max-width: 600px) {

  main{
    flex-wrap: wrap;
  }

  .zine{
	height:46.3vh;
	margin-top:100px;
  }

  .bur{
	height:46.5vh;
	margin-top:100px;
  }

  .flipbook {
	height:46vh;
	margin-top:100px;
  }

}
